/* Navbar.css */
.navbar {
    box-shadow: none !important;
}

.notification-dropdown {
    width: 320px;
    border-radius: 8px;
    overflow: hidden;
}

.notification-item:hover {
    background-color: #f8f9fa;
}

.cursor-pointer {
    cursor: pointer;
}